body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin: 92px 24px 96px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
}

.header__links-list {
  display: flex; 
  gap: 8px;
  padding-left: 24px;
}

.header__link {
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  margin-left: 20px; 
  list-style: circle;
}

.header__logo {
  display: block;
  margin-left: -160px;
  width: 148px;
  height: auto;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  line-height: 1.35;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  list-style: none;
  padding-right: 24px;
}

.address_no-italic {
  font-style: inherit;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px 50px 50px 50px;
}

.cover__title {
  position: relative;
  line-height: 1.35;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  width: 100%;
  color: #ffffff;
  z-index: 1;
}

.aligned-text {
  display: block;
  z-index: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
  z-index: 0;
}

.cover__description {
  display: flex;
  position: relative;
  margin-top: 100px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #ffffff;
  word-spacing: 20px;
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 32px;
}

.bet-button {
  padding: 14px 32px;
  border: 1px #ffffff solid;
  color: #ffffff;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 25px; 
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  gap: 30px;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
}